---
---

@import "{{ site.theme }}";

pre, code {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  background: #336;
}

body {
  color: #bbb;
  background-color: #012;
}

.post-list > li,h3 {
    margin-bottom: 0;
}

.post-link {
    display: inline;
}

.post-meta {
    color: #bbb;
}

.site-title, .site-title:visited {
    color: #bbb;
}

.site-nav .page-link {
    color: #bbb;
}

a, a:visited, a:hover {
    color: #ea0;
}

.solution {
  background: #e8e8e8;
  color: #012;

  &.closed {
    margin-bottom: 15px;
    &:after {
      content: " ► Click to show the solution";
    }
  }

  &.open:after {
    content: " ▼ Click again to hide the solution";
  }
}

.collapsed {
  display: none;
}

.expanded pre {
  border-radius: 0 0 3px 3px;
}

/**
 * Syntax highlighting styles
 */
.highlight {
    background: #336;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #336;
  }

  .c     { color: #998; font-style: italic } // Comment
  .err   { color: #bbb; background-color: #336 } // Error
  .k     { font-weight: bold } // Keyword
  .o     { font-weight: bold } // Operator
  .cm    { color: #998; font-style: italic } // Comment.Multiline
  .cp    { color: #999; font-weight: bold } // Comment.Preproc
  .c1    { color: #998; font-style: italic } // Comment.Single
  .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
  .gd    { color: #000; background-color: #fdd } // Generic.Deleted
  .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: #a00 } // Generic.Error
  .gh    { color: #999 } // Generic.Heading
  .gi    { color: #000; background-color: #dfd } // Generic.Inserted
  .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
  .go    { color: #bbb } // Generic.Output
  .gp    { color: #bbb } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #aaa } // Generic.Subheading
  .gt    { color: #a00 } // Generic.Traceback
  .kc    { font-weight: bold } // Keyword.Constant
  .kd    { font-weight: bold } // Keyword.Declaration
  .kp    { font-weight: bold } // Keyword.Pseudo
  .kr    { font-weight: bold } // Keyword.Reserved
  .kt    { color: #458; font-weight: bold } // Keyword.Type
  .m     { color: #099 } // Literal.Number
  .s     { color: #da7 } // Literal.String
  .na    { color: #008080 } // Name.Attribute
  .nb    { color: #4cc } // Name.Builtin
  .nc    { color: #458; font-weight: bold } // Name.Class
  .no    { color: #4cc } // Name.Constant
  .ni    { color: #800080 } // Name.Entity
  .ne    { color: #900; font-weight: bold } // Name.Exception
  .nf    { color: #4cc; font-weight: bold } // Name.Function
  .nn    { color: #555 } // Name.Namespace
  .nt    { color: #bbb } // Name.Tag
  .nv    { color: #bbb } // Name.Variable
  .ow    { font-weight: bold } // Operator.Word
  .w     { color: #bbb } // Text.Whitespace
  .mf    { color: #ea0 } // Literal.Number.Float
  .mh    { color: #099 } // Literal.Number.Hex
  .mi    { color: #ea0 } // Literal.Number.Integer
  .mo    { color: #099 } // Literal.Number.Oct
  .sb    { color: #d14 } // Literal.String.Backtick
  .sc    { color: #d14 } // Literal.String.Char
  .sd    { color: #d14 } // Literal.String.Doc
  .s2    { color: #bbb } // Literal.String.Double
  .se    { color: #d14 } // Literal.String.Escape
  .sh    { color: #d14 } // Literal.String.Heredoc
  .si    { color: #d14 } // Literal.String.Interpol
  .sx    { color: #d14 } // Literal.String.Other
  .sr    { color: #009926 } // Literal.String.Regex
  .s1    { color: #d14 } // Literal.String.Single
  .ss    { color: #e6e } // Literal.String.Symbol
  .bp    { color: #999 } // Name.Builtin.Pseudo
  .vc    { color: #008080 } // Name.Variable.Class
  .vg    { color: #008080 } // Name.Variable.Global
  .vi    { color: #008080 } // Name.Variable.Instance
  .il    { color: #099 } // Literal.Number.Integer.Long
}

